body {


}

#pohja {
    background-image: url(images/tausta1.jpg);
    background-repeat: no-repeat;
    padding-top: 20px;
    margin-bottom: 40px;
}

#keskidiv {
    background-color:snow;
    width:70%;
    margin: auto;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    margin-left:auto;
}

#logo {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 2px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}