<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

  </system.web>
  <appSettings>
    <add key="finnkinoteatterit" value="http://www.finnkino.fi/xml/TheatreAreas/" />
    <add key="finnkinoelokuvat" value="http://www.finnkino.fi/xml/Schedule/?area=" />
    <add key="rssfeeditMS" value="http://www.microsoft.com/presspass/rss/TopStory.xml" />
    <add key="rssfeeditSF" value="http://www.suomikiekko.com/category/smliiga/feed/" />
    <add key="rssfeeditIS" value="http://www.iltasanomat.fi/rss/uutiset.xml/" />
  </appSettings>

</configuration>