<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ilmo.IlmoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Ilmo.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Ilmo.IlmoSettings.defaultConnection" connectionString="server=eight.labranet.jamk.fi;user=koodari;password=koodari13;" />
    <add name="DemoxOyIlmoEntiteetit" connectionString="metadata=res://*/IlmoModel.csdl|res://*/IlmoModel.ssdl|res://*/IlmoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=eight.labranet.jamk.fi;initial catalog=DemoxOy;persist security info=True;user id=koodari;password=koodari13;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Ilmo.IlmoSettings>
      <setting name="defaultCourse" serializeAs="String">
        <value>IIO13200</value>
      </setting>
      <setting name="defaultFirstname" serializeAs="String">
        <value>Sere</value>
      </setting>
      <setting name="defaultLastname" serializeAs="String">
        <value>Kymäläinen</value>
      </setting>
    </Ilmo.IlmoSettings>
  </userSettings>
</configuration>